<?php
/* CONFIG START. DO NOT CHANGE ANYTHING IN OR AFTER THIS LINE. */
// $Hash: baf16c68ff502b1ae79bf0e759decfabac42ff0e
// $Id: cfcd5dbb584502058b28a8af358361c1e99e5558 $
$conf['calendar']['params']['driverconfig'] = 'horde';
$conf['calendar']['params']['utc'] = true;
$conf['calendar']['driver'] = 'sql';
$conf['caldav']['params']['driverconfig'] = 'horde';
$conf['caldav']['driver'] = 'sql';
$conf['documents']['type'] = 'horde';
$conf['documents']['size_limit'] = 0;
$conf['documents']['count_limit'] = 0;
$conf['storage']['params']['driverconfig'] = 'horde';
$conf['storage']['driver'] = 'sql';
$conf['resources']['enabled'] = true;
$conf['autoshare']['shareperms'] = 'none';
$conf['share']['notify'] = false;
$conf['holidays']['enable'] = true;
$conf['menu']['import_export'] = true;
/* CONFIG END. DO NOT CHANGE ANYTHING IN OR BEFORE THIS LINE. */